/*home page*/
.name {
    font-weight: 100;
    opacity: .7;
    font-size: 65px;
    color: black;
    margin-bottom: 0;
    height: 200px;
    width: 100%;
    text-align: center;
    font-family: Rochester;
}

h1 { 
    font-weight: lighter;
}

.heading1 {
    font-style: italic;
    font-size: 20px; 
    color: #8A8A8A;
    opacity: 100;
    font-family: Raleway !important;
    text-align: center;
    width:150px;
}

.heading1:hover {
  color: #586266;
}

.title:hover {
  color: #4560BA;
}

.sub { 
    margin: auto;
    width: 65%;
    padding: 6px;
    display: flex;
    border: white;
    font-size:50px;
    color:black;
    opacity: .9;
    background-color: #F5E6EA;
    margin-top: 100px;
    font-family: Raleway !important;
    text-align: center;
} 

a {
    font-size:16px;
    color:#EB6584;
    text-decoration: none;
    margin-right: 70px;
    margin-left: 70px;
}

.title {
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 53.9px;
	color: #C3C4E6;
	font-family: Raleway;
}

/*end*/
/*every inside page*/

.insidesub { 
  text-align: center;
  margin-top: 1.5%;
} 

.click {
	font-size: 50px;
	font-family: Raleway;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 53.9px;
  color: #A7B0E8;
}

/*end*/
/*about page */

.list {
  margin-left: 600px;
  margin-top:-200px;
  color: #B3B3B3;
  font-size: 20px;
  font-family: Raleway;
}

.abttext {
  padding-left: 85px;
  padding-top: 35px;
  font-family: Raleway !important;
  font-weight: 400;
  color: #CFB1E3;
  font-size: 30px;
}

.abtmsg { 
  margin-top: 110px;
  margin-left: 65px;
  margin-right: 700px;
  font-family: Raleway;
  font-size: 20px;
  color: #5D615A;
}

.abtmsg2 {
  margin-top: -185px;
  margin-bottom: 200px;
  margin-left: 700px;
  /*margin-right: 700px;*/
  font-family: Raleway;
  font-size: 20px;
  color: #5D615A;
}

.imgme { 
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-left: 70px;
}

.connect {
  margin-top: -85px;
  text-align: center;
  font-family: Raleway;
  font-size: medium;
}

.fb { 
  margin-left: 500px;
  width:50px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.gmail {
  margin-left: 650px;
  width:50px;
  height: 50px;
  margin-top: -200px;
  margin-bottom: 15px;
}

/*end*/
/*experience pg*/

.msg { 
    margin-bottom: 3px;
    margin-left: 50px;
    margin-top:50px;
    color: #B3B3B3;
    font-size: 20px;
    font-family: Raleway;
}

.msg2 {
    margin-left: 50px;
    font-family: Raleway;
    color: #B3B3B3;
    font-size: 15px;
    margin-bottom: 20px;
}

/*end*/
/*projects page*/

  /*.msg&msg2(from exp)*/
.txt { 
    margin-left: 35px;
    margin-top: 0px;
    font-family: Raleway;
    font-size:14px;
    color:#F5B3B3;
}

.projlink { 
  color: #F0C5C5;
}

/*end*/

/*all particles-js  */
/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}