/*home page*/
.name {
    font-weight: 100;
    opacity: .7;
    font-size: 65px;
    color: black;
    margin-bottom: 0;
    height: 200px;
    width: 100%;
    text-align: center;
    font-family: Rochester;
}

h1 { 
    font-weight: lighter;
}

.heading1 {
    font-style: italic;
    font-size: 20px; 
    color: #8A8A8A;
    opacity: 100;
    font-family: Raleway !important;
    text-align: center;
    width:150px;
}

.heading1:hover {
  color: #586266;
}

.title:hover {
  color: #4560BA;
}

.sub { 
    margin: auto;
    width: 65%;
    padding: 6px;
    display: flex;
    border: white;
    font-size:50px;
    color:black;
    opacity: .9;
    background-color: #F5E6EA;
    margin-top: 100px;
    font-family: Raleway !important;
    text-align: center;
} 

a {
    font-size:16px;
    color:#EB6584;
    text-decoration: none;
    margin-right: 70px;
    margin-left: 70px;
}

.title {
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 53.9px;
	color: #C3C4E6;
	font-family: Raleway;
}

/*end*/
/*every inside page*/

.insidesub { 
  text-align: center;
  margin-top: 1.5%;
} 

.click {
	font-size: 50px;
	font-family: Raleway;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 53.9px;
  color: #A7B0E8;
}

/*end*/
/*about page */

.list {
  margin-left: 600px;
  margin-top: -255px;
  color: #B3B3B3;
  font-size: 20px;
  font-family: Raleway;
}

.abttext {
  padding-left: 85px;
  padding-top: 35px;
  font-family: Raleway !important;
  font-weight: 400;
  color: #94A4FF;
  font-size: 30px;
}

.abtmsg { 
  margin-top: 130px;
  margin-left: 65px;
  margin-right: 700px;
  font-family: Raleway;
  font-size: 20px;
  color: #5D615A;
}

.abtmsg2 {
  margin-top: 20px;
  margin-left: 65px;
  margin-right: 700px;
  font-family: Raleway;
  font-size: 20px;
  color: #5D615A;
}

.abtmsg3 {
  margin-top: -305px;
  margin-bottom: 200px;
  margin-left: 700px;
  /*margin-right: 700px;*/
  font-family: Raleway;
  font-size: 20px;
  color: #5D615A;
}

.abtlinks { 
  font-family: Raleway;
  font-size: 20px;
  color: #5D615A;
  margin: 0px;
}

.abtlinks:hover {
  color: #3B3B3B; 
  font-style: italic;
}

.imgme { 
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-left: 70px;
}

.connect {
  margin-top: 100px;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  color: #5D615A;
}

.fb { 
  margin-left: 295px;
  width:50px;
  height: 50px;
  margin-bottom: 0px;
}

.gmail {
  margin-left: 0px;
  width:50px;
  height: 50px;
  margin-bottom: 0px;
}

/*end*/
/*experience pg*/

.msg { 
    margin-bottom: 3px;
    margin-left: 50px;
    margin-top:50px;
    color: #8F8F8F;
    font-size: 20px;
    font-family: Raleway;
}

.msg2 {
    margin-left: 50px;
    font-family: Raleway;
    color: #A3A3A3;
    font-size: 15px;
    margin-bottom: 20px;
}

.explinks {
    margin-bottom: 3px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:50px;
    color: #9FC1E3;
    font-size: 20px;
    font-family: Raleway;
}

.explinks:hover {
  color: #60A0E0;
}

/*end*/
/*projects page*/

  /*.msg&msg2(from exp)*/
.txt { 
    margin-left: 35px;
    margin-top: 0px;
    font-family: Raleway;
    font-size:14px;
    color:#4763FF;
}

.projlink { 
  color: #94A4FF;
}
/*end*/
/*blog page */
.tobloglink {
  position: relative;
  font-size: 25px;
  color: #5E5E5E;
  margin-left: 50px;
  top: 50px;
}

.tobloglink:hover {
  font-style: italic;
}

.blogdescript { 
  position: relative;
  font-size: 15px;
  margin-left: 50px;
  color: #B0B0B0;
  top:52px;
}
/*end */
/*blog post page */
.pictag {
  text-align: center;
}

.backto {
  color:#BCC9E6;
  font-family:Raleway;
  margin:20px;
  font-size:20px;
}

.backto:hover {
  color:#A7B6D6;
}

.blogtitle {
  margin:20px;
  font-size:50px;
  font-style:italic;
}

.blogdate {
  margin-left:20px;
  font-size:20px;
}

.blogtext {
 margin-left:50px;
 margin-top:50px;
 margin-right:150px;
 font-size:15px;
 text-indent:50px;
}

.blogtext2 {
  margin-left:50px;
  margin-top:20px;
  margin-right:150px;
  font-size:15px;
  text-indent:50px;
}

.bloglinks {
  font-size:15px;
  color: #89D0E8;
  margin:0px;
}

.bloglinks:hover {
  color: #51B9DB;
}

.photo {
  display: block;
  margin: auto;
}
/*chat */
.new-note * {
    display: block;
}

.note-date {
    font-style: italic;
}

.new-note-title {
    margin: 20px;
}

.new-notes-content {
    margin-left: 20px;
    margin-top: -10px;
}

.post-new-note {
    margin-left: 20px;
    margin-bottom: 10px;
}

.old-notes {
    margin-left: 25px;
    color: #6186FF;
}

.hi {
    margin-left: 20px;
    margin-top: 40px;
    font-family: Poiret One;
    font-size: 30px;
    color: gray;
}
/*end*/

/*all particles-js  */
/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}